In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [11]:
# combine all flare_data
flare_data_path = '../flare_data'
files = []
for p in os.listdir(flare_data_path):   
    files.append(p)
files = sorted(files)
df = pd.read_csv(flare_data_path + '/' +files[0])

for i in range(1, len(files)):
    df1 = pd.read_csv(flare_data_path + '/' + files[i])
    df = df.append(df1, ignore_index = True)

In [5]:
df.sort_values(by = ['T_REC'])

,class,NOAA_ar_num,event_date,start_time,end_time,peak_time,category,log_intensity,harp_no,ptim_lag_bf,...,MEANPOT,TOTPOT,MEANSHR,SHRGT45,SIZE,SIZE_ACR,NACR,NPIX,abs_tim_diff,min_tim_diff
0,B2.9,11067,2010-05-02,2010-05-02 06:03:00,2010-05-02 06:18:00,2010-05-02 06:09:00,B,-15.053385,1,2010-05-01 18:09:00,...,1259.771,1.670858e+22,17.817,2.023,695.308594,43.540436,488,7793,180.0,180.0
1,B3.8,11067,2010-05-02,2010-05-02 10:02:00,2010-05-02 10:15:00,2010-05-02 10:09:00,B,-14.783095,1,2010-05-01 22:09:00,...,1265.380,1.848529e+22,18.710,3.291,750.504517,49.355331,553,8409,180.0,180.0
3,B1.0,11066,2010-05-03,2010-05-03 21:50:00,2010-05-03 21:56:00,2010-05-03 21:53:00,B,-16.118096,10,2010-05-03 09:53:00,...,3969.406,1.951000e+22,37.398,30.586,2183.714111,194.368073,2175,24436,300.0,300.0
222,B1.7,11068,2010-05-04,2010-05-04 04:42:00,2010-05-04 04:49:00,2010-05-04 04:46:00,B,-15.587467,12,2010-05-03 16:46:00,...,3024.706,4.658450e+22,29.867,20.824,477.918884,42.066864,471,5351,120.0,120.0
9985,B2.0,11069,2010-05-04,2010-05-04 11:00:00,2010-05-04 11:32:00,2010-05-04 11:18:00,B,-15.424948,8,2010-05-03 23:18:00,...,1926.703,3.323812e+21,28.105,10.162,339.184784,29.665266,332,3796,360.0,360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9764,B1.1,12713,2018-06-17,2018-06-17 22:38:00,2018-06-17 23:06:00,2018-06-17 22:52:00,B,-16.022785,7269,2018-06-17 10:52:00,...,1496.786,8.851664e+21,23.580,7.770,10796.894531,1009.981995,11126,118939,240.0,240.0
9765,B1.0,12713,2018-06-18,2018-06-18 08:40:00,2018-06-18 08:47:00,2018-06-18 08:44:00,B,-16.118096,7269,2018-06-17 20:44:00,...,1963.765,1.150896e+22,26.514,13.211,10403.769531,963.800903,10624,114681,240.0,240.0
9766,B1.0,12714,2018-06-19,2018-06-19 02:23:00,2018-06-19 02:28:00,2018-06-19 02:26:00,B,-16.118096,7274,2018-06-18 14:26:00,...,3918.702,1.467067e+22,34.972,26.144,1343.175293,122.709167,1352,14799,120.0,120.0
9767,B1.8,12714,2018-06-20,2018-06-20 00:00:00,2018-06-20 00:11:00,2018-06-20 00:06:00,B,-15.530309,7274,2018-06-19 12:06:00,...,6967.427,6.630739e+22,33.199,20.862,2151.571777,237.973999,2621,23697,360.0,360.0
9768,B1.8,12714,2018-06-20,2018-06-20 00:00:00,2018-06-20 00:11:00,2018-06-20 00:06:00,B,-15.530309,7274,2018-06-19 12:06:00,...,7231.853,6.862219e+22,33.844,22.253,2150.624512,236.970917,2610,23687,360.0,360.0

In [6]:
flare_data_path = 'flare_data'
harp_file = 'HARP5298.csv'
df = pd.read_csv(flare_data_path + '/' + harp_file)

In [12]:
X_flares = df[['NOAA_ar_num','TOTUSJH','TOTUSJZ','SAVNCPP','USFLUX','ABSNJZH','TOTPOT', 'SIZE_ACR', 'NACR',
                             'MEANPOT', 'SIZE', 'MEANJZH', 'SHRGT45', 'MEANSHR', 'MEANJZD', 'MEANALP', 'MEANGBT',
                             'MEANGAM', 'MEANGBZ', 'MEANGBH']]
y_flares = df[['log_intensity', 'category']]

In [13]:
X_flares['log_intensity'] = y_flares['log_intensity']
X_flares['category'] = y_flares['category']

/Users/vietdo/opt/anaconda2/envs/mlpy36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/vietdo/opt/anaconda2/envs/mlpy36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
X_flares.shape
X_flares.dropna(inplace=True)
X_flares.shape

/Users/vietdo/opt/anaconda2/envs/mlpy36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(10208, 22)

In [8]:
X = X_flares[['TOTUSJH','TOTUSJZ','SAVNCPP','USFLUX','ABSNJZH','TOTPOT', 'SIZE_ACR', 'NACR',
                             'MEANPOT', 'SIZE', 'MEANJZH', 'SHRGT45', 'MEANSHR', 'MEANJZD', 'MEANALP', 'MEANGBT',
                             'MEANGAM', 'MEANGBZ', 'MEANGBH']]
y = X_flares[['log_intensity', 'category']]

In [9]:
scaler = preprocessing.StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [10]:
np.savetxt('fulldata/X_train_HARP5298.csv', X_train, delimiter=",")
np.savetxt('fulldata/X_test_HARP5298.csv', X_test, delimiter=",")
y_test.to_csv('fulldata/y_test_HARP5298.csv', index = False)
y_train.to_csv('fulldata/y_train_HARP5298.csv', index = False)